@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

body{
  background-color: #e2e8f0;
}

.product_page_grid{
  display: grid;
  grid-template-columns: .2fr 1fr;
}

.right_side_product_grid{
  display: grid;
  grid-template-rows: 80px 1fr;
}

@media only screen and (max-width: 640px) {
  .product_page_grid{
    display: grid;
    grid-template-columns: 1fr;
  }
}

.cart_grid_options{
  display: grid;
  grid-template-columns: 130px 1fr 180px 200px;
}